:root {
  --max-page-width: 1024px;
  /* The following colors have AAA contrast with white background if font size >18px or 14px and bold */
  --primary-blue: #016d77;
  --visited: #754263;
  --primary-orange: #d24529;
  --background-color: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* Used for blog titles in both links on homepage and title of a post on it's specific page */
h2 {
  font-size: 1.125rem;
  margin: 0;
}

/* Container for all the website content (header, main, and footer) */
body {
  max-width: var(--max-page-width);
  margin: auto; /* Centers the website content within the browser */
  display: flex; /* Flex layout allows easier control over the layout */
  flex-direction: column; /* Stacks elements in the body vertically - helps align footer at bottom of page */
  min-height: 100vh;
}

/* Default (mobile) */
header {
  display: flex;
  justify-content: space-between; /* Pushes elements in header apart, so jpmoore is on the left and posts/about is on the right */
  align-items: center; /* Aligns items vertically in the center of the header */
  margin: 0 0 50px 0;
  padding: 0 5px;
  background-color: var(--background-color);
  position: sticky; /* Sticks header in its position */
  top: 0; /* Positions header to top of page so it stays present when user scrolls */
  z-index: 10; /* Keeps header in front of everything else */
}

header h1 {
  font-size: 1.5rem;
}

/* Prevents the page 'title' (jpmoore) from inheriting the default <a> tag styling */
#header-title {
  color: black;
  text-decoration: none;
}

/* Styles the 'posts' and 'about' navigation links in the header */
header ul {
  display: flex;
  gap: 2rem; /* Gap between posts and about */
  list-style: none; /* Removes 'dot points' that are default for <ul> <li> elements */
  padding-left: 0;
}

footer {
  padding: 4rem 0 1rem 0;
  text-align: center;
  margin: auto auto 0 auto;
}

a {
  color: var(--primary-blue);
}

a:visited {
  color: var(--visited);
}

.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
}

a.nav-link {
  color: var(--primary-blue);
}

a.current-nav-link {
  color: var(--primary-orange);
}

/* "Grid" that contains all the posts displayed on the homepage */
.posts-grid {
  display: flex; /* Allows using flex layout css properties (e.g. flex-wrap) */
  flex-wrap: wrap; /* When screen size decreases, if there is no space for an item in the grid, it moves to the next line/row */
  padding: 0;
}

.post-card:hover {
  animation: hover-card 0.4s; /* Card opacity changes when hovering */
  animation-fill-mode: forwards; /* Animation ends and does not go back to 1 opacity unless hover stops */
  cursor: pointer;
}

/* Animation to change opacity of an item */
@keyframes hover-card {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

a.post-card-link {
  text-decoration: none; /* Removes default <a> tag styling from post title in posts grid */
}

.post-card-title {
  text-align: center;
  color: var(--primary-blue);
}

/* Default (mobiles, <460px wide) */
.post-card {
  list-style: none; /* Removes default <li> tag styling */
  width: 100%; /* A post "card" will be the entire width of the container (one column) */
  padding: 5px;
}

/* Tablets (460-1024px wide) */
@media screen and (min-width: 460px) {
  .post-card {
    width: calc(
      50%
    ); /* A post "card" will be the half width of the container (two columns) */
  }
}

/* Desktops (>1024px wide) */
@media screen and (min-width: 1024px) {
  .post-card {
    width: calc(
      33.33333%
    ); /* A post "card" will be the 1/3 width of the container (three columns) */
  }
}

/* Image container to control potential overflow of image from post card if image is not the same aspect ratio */
.post-card-image-wrapper {
  overflow: hidden;
  width: 100%; /* Ensures it takes the full width of .post-card */
}

.post-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: top left;
}

/* Post date shown under title on a blog post page */
#post-date {
  font-style: italic;
  margin: 0;
}

.post-content {
  max-width: 100%;
  padding: 0 20px;
}

.post-content p {
  display: flex;
  width: 100%;
}

.post-content img {
  margin: auto;
}
