<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <script src="/assets/js/sticky-header.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ↓ Fonts ↓ -->
    <!-- ↓ Karla ↓ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <!-- ↓ Merriweather ↓ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header">
      <h1 align="left"><a id="header-title" href="{{ site.baseurl }}">jpmoore</a></h1>
      {% include navigation.html %}
    </header>
    {{ content }}
    <footer>
      © <a href="https://github.com/jessjep" target="_blank">jpmoore</a> {{
      site.time | date: "%Y" }}
    </footer>
  </body>
</html>
