.quarto-listing-page #quarto-content {
  display: flex;
  justify-content: center;
}

.quarto-listing {
  width: 75%;
  margin: 0 auto;
}

.quarto-title {
  text-align: center;
}

.quarto-grid-item .card {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

.quarto-grid-item .thumbnail-image {
  height: 20vw !important;  /* change this value to resize */
  width: 100% !important;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .quarto-grid-item .thumbnail-image {
    height: 50vw !important;
  }
}

.quarto-grid-item .card-body {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem !important;
}

.quarto-grid-item:hover .card-body {
  opacity: 1;
}

.quarto-grid-item .card-title {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}